  <nav class="navbar navbar-expand-lg navbar-light  p-1"  >
    <a class="navbar-brand" href="#pagina home  ">
      <img src="/assets/download.svg" alt="" width="30" height="24" class="d-inline-block align-text-top">
      MyLinkedIn
    </a>

  <div class="container-fluid ">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle size" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Companies
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li *ngFor="let item of array"><a class="dropdown-item" href="#sitowebaziedna">{{item.name}}</a></li>
          </ul>
        </li>
      </ul>
      <form class="d-flex">
        <a class="nav-link " href="#pagina registrazione" >Not a user ?</a>
        <button class="btn btn-outline-info" type="submit">Login</button>
      </form>
    </div>
  </div>
</nav>

