<div class="bg-img">

  <div class=" row p-3 " >
  <div class="col-sm-6 p-2 " *ngFor="let item of posts">
<!--
  [ngClass]="{
      'card border-success mb3 ': item.descrizione=='Interessato a lavorare in oracle',
       'card border-danger  mb3': item.descrizione=='lavora in ferrari',
       'card border-warning mb3': item.descrizione=='Presentazione SEconda guerra mondiale'

    }"
-->
    <div class="card border-info mb3">
      <div class="card-body ">
        <h5 class="card-title">{{item.title}}</h5>
        <p class="card-text">{{item.descrizione}}</p>
        <a href="#" class="btn btn-primary">Show more</a>
      </div>
    </div>
  </div>
</div>
</div>
