.mt-0 {
  margin-top: 1% !important;
  margin-left: 1% !important;
}

.p-3 {
  padding: 1% !important;
}

.p-2{
  margin-top: 0.5% !important;
  border-color: red;
}
.bg-img{

  /* The image used */
  background-image: url("/assets/sfondo.jpg");
  /* Full height */

  height: 100vh;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

 }
